/* Global Styles */

body {
    background-color: #18212a;
    font-family: 'Lato', sans-serif;
}


img {
    max-width: 100%;
}

a {
    color: #FF4654
}

a:hover {
    color: white;
    text-decoration: none;
}

/* Mobil Styles */

header {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    
}

nav {
    background-color: #101822 ;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    padding: 15px 0;
    border-top: 3px solid white;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
}

nav ul a:hover {
    background-color: #FF4654;
}

main {
    background-color: white;
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    margin: 10px;
}

/* Tablet Styles */

@media only screen and (min-width: 768px) {
    header {
        background-image: url('../images/banner4.png');
        background-size: cover;
        background-position: center center;
        padding: 60px 0;
    }

    header h1{
        color: white;
        text-shadow: 4px 4px 4px black;
        font-size: 3em;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        padding: 10px 40px;
    }

    main {
        display: flex;
    }

    section, aside {
        border: 4px solid #101822;
        padding: 20px;
        margin: 10px;
    }

    section {
        width:70%
    }
    aside {
        width:30%
    }
}

/* Desktop Styles */

@media only screen and (min-width:1024px) {

    header {
        background-image: url('../images/banner2.jpg');
        padding: 150px 0;
    }

    header h1{
        font-size: 70px;
    }

    nav li a {
        font-size: 30px;
        padding: 20px 40px;
        border-radius: 20px 20px 0 0 ;
    }

    #container {
        width: 95%;
        margin: 20px auto;
        border: 4px solid #FF4654;
    }

    main img {
        border-radius: 20px;
        border: 4px solid #18212a
    }
}